/* Анимация появления элементов */
.animate {
  animation: appear 1s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh; 
    font-family: "PT Serif Caption", serif;
    background: url('/images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
    padding: 0; 
    overflow-x: hidden; 
}

header, footer {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 10px;
    background-color: #6a0dad;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-logo {
    max-width: 100%; 
}

.index-logo img {
    width: 200px; 
    height: auto; 
    margin-left: 40px; 
}

footer {
    width: 100%;
    height: 80px; /* Фиксированная высота */
    margin: 0;
    padding: 10px 0;
    background-color: #6a0dad;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.container h1 {
    font-size: 28px;
    margin: 0;
    text-align: center; 
    padding: 10px 0; 
}

.container-logo img {
    max-width: 40%;
    margin-right: 10px;
    transition: none;
}

#role-specific-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: -25px;
}

.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-nav ul li {
    width: 150px;
    height: 50px;
    text-align: center;
}

.main-nav ul li:last-child {
    margin-right: 0;
}

.main-nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    text-decoration: none;
    background-color: #6a0dad;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.main-nav ul li a:hover {
    background-color: #5a0a9d;
    transform: translateY(-2px);
}

.menu-toggle {
    font-size: 24px;
    color: #3f016b;
    font-weight: bold;
    cursor: pointer;
    display: none;
}

/* Стили для списка навигации */
#nav-list {
    list-style: none; /* Убираем маркеры */
    padding: 0;
    margin: 0;
    display: flex; /* Горизонтальное расположение на больших экранах */
    flex-wrap: wrap;
}

#nav-list li {
    margin: 0 15px; /* Отступы между пунктами */
}

#nav-list a {
    color: white; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}


/* Стили для пользовательской информации */
.user-info {
    display: flex;
    align-items: center;
    margin-right: 60px;
    text-align: center;
    justify-content: center;
}

.username {
    color: #fff;
    font-weight: bold;
    margin-right: 10px;
    font-size: 1.2em;
}

.guest-container {
    display: flex;
}

.guest-label {
    font-weight: bold;
    font-size: 1.2em;
    display: inline;
}

.username-role {
    margin-bottom: 10px;
}

.user-actions {
    display: flex; 
    align-items: center; 
    flex-grow: 1;
}

.user-info a {
    background-color: white;
    color: #6a0dad;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s; 
}

.user-actions .change-password,
.user-actions .change-email{
    background: none;
    color: white;
    text-decoration: underline;
    padding: 0;
    border: none;
    transition: none;
    font-size: 0.7em;
}

.user-links {
    margin-top: 10px; 
    display: flex; 
    gap: 10px;
}

.user-info a:hover {
    background-color: rgba(208, 172, 255, 0.918);
    transform: translateY(-3px); 
}

#logout-link {
    margin-left: 15px;
}

.user-info span {
    color: white;
    margin: 10px 0;
}

.hero {
    text-align: center;
}

.hero-content {
    display: flex;
    flex-direction: space-between;
    align-items: center;
    padding: 10px;
}

.hero-text {
    flex: 1;
    padding-right: 20px;
}

.hero h2 {
    font-size: 2.5em;
    margin: 0;
}

.hero p {
    font-size: 1.2em;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center; 
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

/* Стили для кнопок */
.btn {
    background-color: #6a0dad;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1.1em;
    margin-left: 10px;
}

.btn:hover {
    background-color: #5a0a9d;
    transform: translateY(-3px);
}

/* Стили для курсов */
.courses {
    padding: 20px 0;
}

.course-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.course-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    flex: 1 1 calc(25% - 20px); /* 4 карточки в ряд на больших экранах */
    margin: 10px;
}

.course-card:hover {
    transform: translateY(-5px);
}

.course-card h3 {
    margin-top: 0;
}

.course-card p {
    text-align: left;
    font-size: 0.9em;
}

.course-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.course-image img {
    height: auto;
    max-width: 150px;
    border-radius: 5px;
}

.course-btn {
    background-color: #6a0dad;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    display: block;
    margin-top: auto;
    width: 150px;
}

.course-btn:hover {
    background-color: #5a0a9d;
    transform: translateY(-3px);
}

.about, .contact {
    padding: 20px; /* Уменьшаем отступы */
    margin: 10px 0; /* Добавляем отступы между секциями */
    background-color: #f9f9f9; /* Фоновый цвет для секций */
    border-radius: 8px;
}

.form-container h2 {
    color: #6a0dad;
}

h2 {
    font-size: 1.5em; /* Уменьшаем размер заголовка */
    color: #6a0dad;
    text-align: center;
}

h2::after {
    content: '';
    display: block;
    width: 50px;
    height: 4px;
    background: #6a0dad;
    margin: 10px auto;
    border-radius: 2px;
}

.about p, .contact p {
    text-align: left;
    font-size: 0.9em; /* Уменьшаем размер текста */
    line-height: 1.5; /* Увеличиваем межстрочный интервал для удобства чтения */
    color: #333;
    margin-bottom: 15px;
}

a {
    color: #6a0dad;
    text-decoration: none;
}

.about h2, .contact h2 {
    text-align: center;
}

.action-button, .edit-button {
    width: 100%;
    min-width: 150px;
    margin: 5px 0;
}

.delete-form {
    display: flex;
    flex: 1; 
    margin: 0;
}

.delete-button-video,
.action-button-video {
    flex: 1;
    margin: 5px;
    padding: 10px;
    background-color: #6a0dad;
    font-family: "PT Serif Caption", serif;
    color: white;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; 
}

.delete-button-video:hover,
.action-button-video:hover {
    background-color: #5a0a9d;
    transform: translateY(-2px);
}

.action-button, .share-button, .submit-comment, .delete-button, .edit-button {
    background-color: #6a0dad;
    font-family: "PT Serif Caption", serif;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1em;
    flex: 1;
    margin: 5px;
    min-width: 100px;
}

/* Эффект при наведении */
.action-button:hover, .share-button:hover, .submit-comment:hover, .delete-button:hover, .edit-button:hover {
    background-color: #5a0a9d;
    transform: translateY(-2px); /* Легкий подъем кнопки */
}

.back-to-top {
    display: none;
    position: fixed;
    font-family: "PT Serif Caption", serif;
    bottom: 20px;
    right: 20px;
    background: #3f016b;
    color: white;
    border: none;
    padding: 12px 15px;
    border-radius: 8px;
    display: none; /* Скрываем кнопку по умолчанию */
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s, transform 0.3s;
    z-index: 1000;
}

.back-to-top:hover {
    background: #5c027c;
    transform: translateY(-3px);
}

.back-to-top:active {
    transform: translateY(1px);
}

.desktop-text {
    display: inline; /* Показываем текст на десктопах */
}

.mobile-icon {
    display: none; /* Скрываем стрелку на десктопах */
}

/* Стили для общего модального окна */
.modal {
    display: flex;
    justify-content: center; /* Центрирование модального окна по горизонтали */
    align-items: center; /* Центрирование модального окна по вертикали */
    position: fixed; /* Фиксированное позиционирование */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
    z-index: 1000; /* Над другими элементами */
}

/* Стили для модального окна "Поделиться" */
.share-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px;
    max-width: 90%;
    margin: 0 auto;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal h2 {
    margin-top: 0;
    color: #6a0dad;
    text-align: center;
}

.modal input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.modal button {
    width: 50%;
    font-family: "PT Serif Caption", serif;
    padding: 10px;
    background-color: #6a0dad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px; /* Отступы сверху для кнопок */
}

/* Уникальные стили для кнопки copy-button */
.copy-button {
    background-color: #ff5722; /* Другой цвет фона */
    width: 80%; /* Можно сделать шире или уже */
    margin-top: 20px; /* Отступ сверху для отделения от других кнопок */
}

.copy-button:hover {
    background-color: #e64a19; /* Цвет при наведении для copy-button */
}

#editDescription {
    width: 100%;
    height: 100px;
    overflow-y: auto;
    resize: none;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

#shareLink {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.modal button:hover {
    background-color: #5a0a9d;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    max-width: 450px;
}

.form-container-add {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    max-width: 450px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.form-container-add,
.uploaded-videos-container {
    flex: 1;
    margin: 10px;
}

.form-container-add {
    flex: 1;
    max-width: 450px; 
}

.uploaded-videos-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd; 
    border-radius: 8px; 
    padding: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    display: flex;
    flex-direction: column; 
    flex: 1;
    justify-content: flex-start; 
    max-height: 600px; 
    max-width: 600px; 
    overflow-y: auto; 
}

.videos-title {
    font-size: 1.5em; 
    margin-bottom: 15px;
    color: #333; 
}

.video-list {
    display: flex;
    flex-direction: column;
}

.video-item {
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    padding: 10px; 
    margin-bottom: 10px; 
    transition: transform 0.2s;
}

.video-item h3 {
    color: #6a0dad;
    text-align: center;
}

.video-item p strong {
    color: #6a0dad;
    padding: 5px;
    border-radius: 3px;
}

.video-item:hover {
    transform: scale(1.02); 
}

.video-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.video-container video {
    width: 100%;
    height: auto;
}

.likes-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
}

.action-button {
    font-family: "PT Serif Caption", serif;
    margin: 0 10px;
    padding: 10px 15px;
    background-color: #6a0dad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.action-button:hover {
    background-color: #5b0c9e;
}

.save-change-button {
    font-family: "PT Serif Caption", serif;
    padding: 10px 20px;
    background-color: #6a0dad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.save-change-button:hover {
    background-color: #5b0c9e;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 30px);
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    font-family: "PT Serif Caption", serif;
}

.btn {
    background-color: #6a0dad;
    color: white;
    margin-top: 10px;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 1.1em;
    font-family: "PT Serif Caption", serif;
}

.btn:hover {
    background-color: #5a0a9d;
    transform: translateY(-2px);
}

p {
    text-align: center;
}

.role-select {
    font-family: "PT Serif Caption", serif;
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    background-color: #fff;
    color: #333;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%236a0dad"><path d="M8 10.5l-4-4h8z"/></svg>'); /* Стрелка вниз */
    background-repeat: no-repeat;
    background-position: right 10px center; /* Положение стрелки */
    background-size: 14px; /* Размер стрелки */
    transition: border-color 0.3s; /* Плавный переход цвета границы */
}

select {
    font-family: "PT Serif Caption", serif;
}

.role-select:focus {
    border-color: #6a0dad;
    outline: none;
}

.role-select option {
    padding: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.pagination a {
    text-decoration: none;
    color: #6a0dad;
    padding: 10px 15px; /* Отступы внутри кнопок */
    margin: 0 5px; /* Отступы между кнопками */
    border: 1px solid #6a0dad;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #6a0dad;
    color: white;
}

.pagination span {
    padding: 10px 15px; 
    margin: 0 5px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #f8f9fa; 
    color: #333; 
}

.sorting-controls {
    transform: scale(0.9); 
    padding: 10px;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sort-form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center;
}

.sort-name-class {
    width: 100%; 
    max-width: 400px;
    margin: 0 auto;
}

.sorting-controls div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sorting-controls label {
    margin-bottom: 5px; 
}

.sorting-controls input,
.sorting-controls select {
    padding: 10px 15px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    width: 100%; 
    max-width: 250px; 
    box-sizing: border-box; 
}

.button-controls {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.styled-select,
.styled-label,
.add-video {
    width: 100%;
    margin: 10px 0;
}

.social-buttons a {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 15px;
    background-color: #6a0dad;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.social-buttons a:hover {
    background-color: #5a0a9d;
}

video {
    width: 100%;
    border-radius: 15px;
    outline: none;
    background-color: #000;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6); /* Тень для видео */
    opacity: 1;
}

/* Стили для контейнера контролов */
video::-webkit-media-controls-enclosure {
    padding: 2px;
}

/* Стили для кнопки воспроизведения */
video::-webkit-media-controls-play-button {
    background-color: #6a0dad;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

video::-webkit-media-controls-play-button:hover {
    background-color: #8a2be2;
    transform: scale(1.1);
}

/* Стили для ползунка громкости */
video::-webkit-media-controls-volume-slider {
    border-radius: 10px;
    height: 2px;
}

/* Стили для дорожки прогресса */
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display {
    color: #fff;
    font-weight: bold;
    font-family: "PT Serif Caption", serif;
    border-radius: 5px;
    padding: 0px 5px;
    display: inline-block; /* Выравнивание по горизонтали */
    margin: 0 5px; /* Отступы для выравнивания */
}

/* Стили для кнопки полного экрана */
video::-webkit-media-controls-fullscreen-button {
    background-color: #6a0dad;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

video::-webkit-media-controls-fullscreen-button:hover {
    background-color: #8a2be2;
    transform: scale(1.1);
}

/* Стили для трех точек (меню) */
video::-webkit-media-controls-more-button {
    background-color: #6a0dad; /* Цвет кнопки меню */
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

video::-webkit-media-controls-more-button:hover {
    background-color: #8a2be2; /* Цвет при наведении */
    transform: scale(1.1);
}

/* Стили для дорожки прогресса */
video::-webkit-media-controls-timeline {
    margin-top: 10px;
    height: 2px;
}

.loading-indicator {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-family: "PT Serif Caption", serif;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #6a0dad;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.progress-bar {
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
}

.progress {
    height: 100%;
    width: 0;
    background-color: #6a0dad;
    transition: width 0.4s;
}

#progressText {
    margin-top: 5px;
}

.sort-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}
