.password-container {
    position: relative;
}

.password-container input {
    width: 100%; 
    padding: 20px 40px 20px 16px; /* Отступы: сверху, справа для значка, снизу, слева */
    box-sizing: border-box; 
}

.toggle-password {
    position: absolute; /* Оставляем абсолютное позиционирование */
    right: 10px; /* Фиксированное положение для правого отступа */
    top: 50%; 
    transform: translateY(-50%); /* Центрируем иконку по вертикали */
    background: transparent; /* Прозрачный фон */
    border: none; 
    cursor: pointer; 
    outline: none; 
    padding: 0; 
}

.toggle-password i {
    font-size: 1.0em; /* Размер иконки */
    color: #aaa; 
    transition: color 0.3s ease; 
}

.toggle-password:hover i {
    color: #6a0dad; /* Цвет иконки при наведении */
}

.toggle-password:hover {
    background: transparent; /* Прозрачный фон при наведении */
}
