<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление Видео</title>
    <link rel="icon" type="image/png" href="{{ url_for('images', filename='icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='additional_styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %} 
    <main>
        <div class="main-container">
            <div class="form-container-add">
                <form action="{{ url_for('add_video') }}" method="POST" enctype="multipart/form-data">
                    <label for="course" class="styled-label">Выберите курс:</label>
                    <select name="course" id="course" class="styled-select" required>
                        <option value="Основы программирования">Основы программирования</option>
                        <option value="Основы дизайна">Основы дизайна</option>
                        <option value="Основы JavaScript">Основы JavaScript</option>
                        <option value="Основы кибербезопасности">Основы кибербезопасности</option>
                        <option value="Основы работы с базами данных">Основы работы с базами данных</option>
                        <option value="Основы DevOps">Основы DevOps</option>
                        <option value="Основы цифрового маркетинга">Основы цифрового маркетинга</option>
                        <option value="Основы графического дизайна">Основы графического дизайна</option>
                        <option value="Машинное обучение">Машинное обучение</option>
                        <option value="Разработка мобильных приложений">Разработка мобильных приложений</option>
                        <option value="UX/UI дизайн">UX/UI дизайн</option>
                        <option value="Веб-разработка">Веб-разработка</option>
                    </select>
                
                    <input type="text" name="title" placeholder="Название видео" required>
                    <textarea name="description" id="videoDescription" rows="4" placeholder="Описание видео..." required></textarea>
                    <input type="text" name="duration" id="duration" placeholder="Длительность" readonly>
                    <input type="hidden" name="author" id="author" value="{{ current_user.username }}" required>
                    <input type="file" name="video_file" id="file-name" placeholder="Выберите файл" required style="border: 1px solid #ccc; padding: 10px; width: 300px; margin-top: 10px; margin-bottom: 20px;">
                    <button type="submit" class="add-video">Добавить Видео</button>
                </form>                
            </div>

            <div id="uploadedVideos" class="uploaded-videos-container">
                <h2 class="videos-title">Загруженные Видео</h2>
                <div id="videoList" class="video-list">
                    {% for video in videos %}
                    <div class="video-item">
                        <h3>{{ video.title }}</h3>
                        <p>{{ video.description }}</p>
                        <video width="320" height="240" controls>
                            <source src="{{ url_for('uploaded_video', filename=video.filename) }}" type="video/mp4">
                            Ваш браузер не поддерживает видео.
                        </video>
                        <form action="{{ url_for('delete_video', video_id=video.id) }}" method="POST" style="display:inline;">
                            <button type="submit" 
                                    onclick="return confirm('Вы уверены, что хотите удалить это видео?');">
                                Удалить
                            </button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
            </div>                                    
        </div>        
    </main>
    {% include 'footer.html' %}
</body>
</html>
