<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление Видео</title>
    <link rel="icon" type="image/png" href="{{ url_for('images', filename='icon.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='additional_styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %} 
    <main>
        <div class="main-container">
            <div class="form-container">
                <form action="{{ url_for('add_video') }}" method="POST" enctype="multipart/form-data" id="videoUploadForm">
                    <label for="course">Выберите курс:</label>
                    <select name="course" id="course" required>
                        <option value="Основы программирования">Основы программирования</option>
                        <option value="Основы дизайна">Основы дизайна</option>
                        <option value="Основы JavaScript">Основы JavaScript</option>
                        <option value="Кибербезопасность">Кибербезопасность</option>
                        <option value="Базы данных">Базы данных</option>
                        <option value="DevOps">DevOps</option>
                        <option value="Цифровой маркетинг">Цифровой маркетинг</option>
                        <option value="Графический дизайн">Графический дизайн</option>
                        <option value="Машинное обучение">Машинное обучение</option>
                        <option value="Мобильная разработка">Мобильная разработка</option>
                        <option value="UX/UI дизайн">UX/UI дизайн</option>
                        <option value="Веб-разработка">Веб-разработка</option>
                    </select>

                    <input type="text" name="title" placeholder="Название видео" required>
                    <textarea name="description" id="videoDescription" rows="4" placeholder="Описание видео..." required></textarea>
                    <input type="text" name="duration" id="duration" placeholder="Длительность" readonly>
                    <input type="hidden" name="author" id="author" value="{{ current_user.username }}">
                    <input type="file" name="video_file" accept="video/*" required onchange="setDuration(this)">
                    <button type="submit">Добавить Видео</button>
                </form>
            </div>
            <div id="uploadedVideos">
                <h2>Загруженные Видео</h2>
                <div id="videoList"></div>
            </div>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>

