<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Основы программирования</title>
    <link rel="icon" type="image/png" href="{{ url_for('images', filename='icon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='additional_styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}

    {% include 'video-container.html' %}
 
    <div class="pagination">
        {% if pagination.page > 1 %}
            <a href="{{ url_for('course_programming', page=pagination.page - 1) }}">« Назад</a>
        {% endif %}
    
        <span>Страница {{ pagination.page }} из {{ pagination.total_pages }}</span>
    
        {% if pagination.page < pagination.total_pages %}
            <a href="{{ url_for('course_programming', page=pagination.page + 1) }}">Вперед »</a>
        {% endif %}
    </div>

    {% include 'footer.html' %}
</body>
</html>