<header>
    <div class="index-logo">
        <a href="/">
            <img src="{{ url_for('images', filename='container-logo-img.png') }}" alt="Главное изображение"> 
        </a>
    </div>
    <div class="container">
        <h1>
            {% if page_title %}
                {{ page_title | safe }}
            {% else %}
                Учебный Видеохостинг<br>ГБПОУ КАИТ №20
            {% endif %}
        </h1>
    </div>      
    <div class="user-info">
        <div class="user-actions">
            {% if session.get('username') %}
                <div class="username-role" style="text-align: center;">
                    <span id="username" class="username">{{ session.get('username', 'Гость') }}</span>
                    {% if session.get('username') %}
                        <span class="user-role" style="display: block; margin-top: 5px;">
                            {{ ROLE_TRANSLATIONS[session.get('role')] if session.get('role') in ROLE_TRANSLATIONS else session.get('role') }}
                        </span>
                    {% endif %}
                    <div class="user-links">
                        {% if session.get('role') == 'admin' %}
                            <a class="change-password" href="{{ url_for('change_password') }}">Сменить пароль</a>
                            <a class="change-email" href="{{ url_for('change_email') }}">Сменить Email</a>
                        {% endif %}

                        {% if session.get('role') == 'teacher' %}
                            <a class="change-password" href="{{ url_for('change_password') }}">Сменить пароль</a>
                            <a class="change-email" href="{{ url_for('change_email') }}">Сменить Email</a>
                        {% endif %}

                        {% if session.get('role') == 'student' %}
                            <a class="change-password" href="{{ url_for('change_password') }}">Сменить пароль</a>
                            <a class="change-email" href="{{ url_for('change_email') }}">Сменить Email</a>
                        {% endif %}
                    </div>                       
                </div>
            {% else %}
                <span id="username" class="username">{{ session.get('username', 'Гость') }}</span>   
                <a href="/login" class="btn" id="login-btn">Вход</a>
            {% endif %}
        </div>
        {% if session.get('username') %}
            <a href="/logout" id="logout-link" class="btn">Выход</a>
        {% endif %}
    </div>            
</header>
