<header>
    <div class="index-logo">
        <a href="/">
            <img src="{{ url_for('images', filename='container-logo-img.png') }}" alt="Главное изображение"> 
        </a>
    </div>
    <div class="container">
        <h1>
            {% if page_title %}
                {{ page_title | safe }}
            {% else %}
                Учебный Видеохостинг<br>ГБПОУ КАИТ20
            {% endif %}
        </h1>
    </div>      
    <div class="user-info">
        <div class="user-actions">
            {% if session.get('username') %}
                {% if session.get('role') == 'admin' %}
                    <a href="{{ url_for('change_password') }}" class="btn">Сменить пароль</a>
                    <a href="{{ url_for('change_email') }}" class="btn">Сменить Email</a>
                {% endif %}
                
                {% if session.get('role') == 'teacher' %}
                    <a href="{{ url_for('change_password') }}" class="btn">Сменить пароль</a>
                    <a href="{{ url_for('change_email') }}" class="btn">Сменить Email</a>
                {% endif %}
        
                {% if session.get('role') == 'student' %}
                    <a href="{{ url_for('change_password') }}" class="btn">Сменить пароль</a>
                    <a href="{{ url_for('change_email') }}" class="btn">Сменить Email</a>
                {% endif %}
    
                <div class="username-role">
                    <span id="username" class="username">{{ session.get('username', 'Гость') }}</span>
                    {% if session.get('username') %}
                        <span class="user-role" style="display: block; margin-top: 5px;">{{ ROLE_TRANSLATIONS[session.get('role')] if session.get('role') in ROLE_TRANSLATIONS else session.get('role') }}</span>
                    {% endif %}
                </div>
                
                <a href="/logout" id="logout-link" class="btn">Выход</a>
            {% else %}
                <span id="username" class="username">{{ session.get('username', 'Гость') }}</span>   
                <a href="/login" class="btn" id="login-btn">Вход</a>
            {% endif %}
        </div>
    </div>            
</header>
