<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="icon" type="image/png" href="{{ url_for('images', filename='icon.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="index-logo">
            <a href="/">
                <img src="{{ url_for('images', filename='container-logo-img.png') }}" alt="Главное изображение"> 
            </a>
        </div>
        <div class="container">
            <h1>Учебный Видеохостинг<br>ГБПОУ КАИТ20</h1>
        </div>

        <div class="user-info">
            <span id="username" class="username">{{ session.get('username', 'Гость') }}</span>
            {% if session.get('username') %}
                <span class="user-role" style="margin-left: 10px;">({{ ROLE_TRANSLATIONS[session.get('role')] if session.get('role') in ROLE_TRANSLATIONS else session.get('role') }})</span>
                {% if session.get('role') == 'teacher' %}
                    <a href="{{ url_for('add_video') }}" class="btn" id="add-video-btn" style="margin-left: 20px;">Добавить видео</a>
                {% endif %}
                <a href="/logout" id="logout-link" class="btn" style="margin-left: 20px;">Выход</a>
            {% else %}
                <a href="/login" class="btn" id="login-btn">Вход</a>
                <span>|</span>
                <a href="/register" class="btn" id="register-btn">Регистрация</a>
            {% endif %}
        </div>

    </header>

    <main>
        <div class="form-container">
            <h2>Авторизация</h2>
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <ul>
                {% for message in messages %}
                  <li>{{ message }}</li>
                {% endfor %}
                </ul>
              {% endif %}
            {% endwith %}
            <form method="POST">
                <input type="text" name="login" placeholder="Email" required>               
                <div class="password-container">
                    <input type="password" id="password" name="password" placeholder="Пароль" required>
                    <button type="button" class="toggle-password" onclick="togglePassword('password')">
                        <i class="fas fa-eye" id="eye-icon"></i>
                    </button>
                </div>                               
                <button type="submit" class="btn">Войти</button>
            </form>            
            <p>Нет аккаунта? <a href="{{ url_for('register') }}">Зарегистрируйтесь</a></p>
            <p>Забыли пароль? <a href="{{ url_for('reset_password_request') }}">Сбросить пароль</a></p>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; <span id="currentYear"></span> Учебный Видеохостинг ГБПОУ КАИТ20</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
