<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Запрос сброса пароля</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icon.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="index-logo">
            <a href="/">
                <img src="{{ url_for('static', filename='container-logo-img.png') }}" alt="Главное изображение"> 
            </a>
        </div>
        <div class="container">
            <h1>Учебный Видеохостинг ГБПОУ КАИТ20</h1>
        </div>
    </header>

    <main>
        <div class="form-container">
            <h2>Запрос сброса пароля</h2>
            <p>Введите ваш email, чтобы запросить сброс пароля.</p>
            <form action="{{ url_for('reset_password_request') }}" method="POST">
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <button type="submit" class="btn">Запросить сброс пароля</button>
            </form>
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; <span id="currentYear"></span> Учебный Видеохостинг ГБПОУ КАИТ20</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
