<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Запрос сброса пароля</title>
    <link rel="icon" type="image/png" href="{{ url_for('images', filename='icon.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='additional_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='media.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='toggle_password.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif+Caption:ital@0;1&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'header.html' %}
    <main>
        <div class="form-container animate">
            <h2>Запрос сброса пароля</h2>
            <p>Введите ваш email, чтобы запросить сброс пароля.</p>
            <form action="{{ url_for('reset_password_request') }}" method="POST">
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <button type="submit" class="btn">Запросить сброс пароля</button>
            </form>
        </div>
    </main>
    {% include 'footer.html' %}
</body>
</html>
