<div id="videoModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2 id="modalTitle"></h2>
        <video id="modalVideo" width="100%" controls>
            <source id="videoSource" type="video/mp4">
            Ваш браузер не поддерживает видео.
        </video>
        <div class="video-description" id="videoDescription"></div>
        <div class="video-details" id="videoDetails"></div>
        <div class="likes-container">
            <div class="likes">
                <span class="like-icon" onclick="likeVideo(event)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
                        <path d="M720-120H280v-520l280-280 50 50q7 7 11.5 19t4.5 23v14l-44 174h258q32 0 56 24t24 56v80q0 7-2 15t-4 15L794-168q-9 20-30 34t-44 14Zm-360-80h360l120-280v-80H480l54-220-174 174v406Zm0-406v406-406Zm-80-34v80H160v360h120v80H80v-520h200Z"/>
                    </svg>
                </span>
                <span class="like-count" id="likeCount">0</span>
                <span class="dislike-icon" onclick="dislikeVideo(event)">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368">
                        <path d="M240-840h440v520L400-40l-50-50q-7-7-11.5-19t-4.5-23v-14l44-174H120q-32 0-56-24t-24-56v-80q0-7 2-15t4-15l120-282q9-20 30-34t44-14Zm360 80H240L120-480v80h360l-54 220 174-174v-406Zm0 406v-406 406Zm80 34v-80h120v-360H680v-80h200v520H680Z"/>
                    </svg>
                </span>
                <span class="dislike-count" id="dislikeCount">0</span>
            </div>
            <button class="share-button" onclick="shareVideo()">Поделиться</button>
        </div>
        <div class="comments">
            <textarea id="commentInput" class="comment-input" placeholder="Ваш комментарий..."></textarea>
            <button class="submit-comment" onclick="submitComment()">Отправить</button>
            <div class="error-message" id="error-message"></div>
            <h4>Все комментарии:</h4>
            <div id="commentList" class="comment-list"></div>                        
        </div>        
        <div id="editCommentModal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeEditCommentModal()">&times;</span>
                <h2>Редактировать комментарий</h2>
                <textarea id="editCommentInput" rows="4"></textarea>
                <div class="button-container">
                    <button class="save-change-button" onclick="submitEditComment()">Сохранить изменения</button>
                </div>
            </div>
        </div>                
    </div>
</div>
